<div class="projects-section">
  <br>  <br>
  <h2 class="section-title">Projects</h2>
  <br>
    <div class="project-grid">

      @for (project of projects; track project) {
        <div
          class="project-card"
          >
          <h3>{{project.name}}</h3>
          <p class="client">
            Client: <strong>{{project.client}}</strong>
          </p>
          <p class="desc">
            {{project.shortDesc}}
          </p>
          <!-- Tech -->
          <div class="tags">
            @for (tech of project.tech; track tech) {
              <span>
                {{tech}}
              </span>
            }
          </div>
          <!-- Button -->
          <button class="btn primary" (click)="openProject(project)">
            View Details
          </button>
        </div>
      }

    </div>

  </div>














  <!-- Modal -->
  @if (selectedProject) {
    <div class="project-modal">
      <div class="modal-overlay" (click)="closeProject()"></div>
      <div class="modal-content">
        <span class="close-btn" (click)="closeProject()">✖</span>
        <h2>{{selectedProject.name}}</h2>
        <p><strong>Client:</strong> {{selectedProject.client}}</p>
        <p><strong>Company:</strong> {{selectedProject.company}}</p>
        <!-- Tech -->
        <div class="tech-stack">
          @for (tech of selectedProject.tech; track tech) {
            <span>
              {{tech}}
            </span>
          }
        </div>
        <!-- Full Desc -->
        <p class="desc">
          {{selectedProject.fullDesc}}
        </p>
        <!-- Features -->
        <ul>
          @for (f of selectedProject.features; track f) {
            <li>
              {{f}}
            </li>
          }
        </ul>
      </div>
    </div>
  }