<div class="about-wrapper">

  <!-- Header Section -->
  <div class="about-header">
    <h1>About Me</h1>
    <p class="tagline">
      Angular-focused Full Stack Developer building scalable & secure applications
    </p>
    <div class="badge">Software Engineer & Content Creator</div>
  </div>

  <!-- Main Content -->
  <div class="about-content">

    <p>
      Hi, I'm Satendra Rajput, a Full Stack Developer with 4+ years of experience in building scalable, secure, and
      high-performance web applications using Angular, TypeScript, Java, Spring Boot, and MySQL.
    </p>



    <p>
      Alongside frontend development, I have hands-on experience building backend services with Java Spring Boot,
      developing RESTful APIs, authentication systems, and database-driven applications.
    </p>

    <p>
      I have strong experience in the <strong>FinTech domain</strong>, working on systems
      like AEPS, Micro-ATM, Recharge, Bill Payments, and Loan Management. I have also
      implemented JWT-based authentication and role-based access control.
    </p>

    <p>
      Recently, I have worked on <strong>Loan Origination Systems</strong>, building
      dynamic and configurable user workflows and improving application performance
      and user experience.
    </p>

    <p class="highlight">
      I am passionate about solving real-world business problems and building scalable digital products that deliver
      exceptional user experiences and long-term business value.
    </p>

  </div>

  <!-- Info + CTA Section -->
  <div class="about-info">


    <div class="info-grid">
      <div><strong>Name:</strong> Satendra Rajput</div>
      <div><strong>Role:</strong> Full Stack Developer (Angular + Java)</div>
      <div><strong>Experience:</strong> 4+ Years</div>
      <div><strong>Email:</strong> satendracaria&#64;gmail.com</div>
      <div><strong>Phone:</strong> +91 8859758708</div>
      <div><strong>Location:</strong> Noida, Uttar Pradesh, India</div>
      <div><strong>Website:- </strong> <span (click)="openWebsite('personal')" class="highlight"
          style="cursor: pointer;">satendracoder.com</span></div>
      <div><strong>Availability:</strong><span class="available"> Immediate Joiner(From 15th July 2026)</span></div>
    </div>

    <div class="btn-group">
      <a [href]="resumeUrl" download class="btn primary">
        Download CV
      </a>

      <a routerLink="/contact-us" class="btn outline">
        Contact Me
      </a>
    </div>

  </div>

</div>