<div class="about-wrapper">

  <!-- Header Section -->
  <div class="about-header">
    <h1>About Me</h1>
    <p class="tagline">
      Angular-focused Full Stack Developer building scalable & secure applications
    </p>
    <div class="badge">Software Engineer & Content Creator</div>
  </div>

  <!-- Main Content -->
  <div class="about-content">

    <p>
      Hi, I'm <strong>Satendra Rajput</strong>, an Angular-focused Full Stack Developer 
      with around <strong>4 years of experience</strong> in building scalable and secure 
      web applications using Angular, TypeScript, and RxJS.
    </p>

    <p>
      Along with frontend development, I have <strong>1.5+ years of experience</strong> 
      in Java Spring Boot, where I have developed secure REST APIs and backend services.
    </p>

    <p>
      I have strong experience in the <strong>FinTech domain</strong>, working on systems 
      like AEPS, Micro-ATM, Recharge, Bill Payments, and Loan Management. I have also 
      implemented JWT-based authentication and role-based access control.
    </p>

    <p>
      Recently, I have worked on <strong>Loan Origination Systems</strong>, building 
      dynamic and configurable user workflows and improving application performance 
      and user experience.
    </p>

    <p>
      I also actively build my personal brand <strong>“Satendra Coder”</strong>, where 
      I create developer-focused platforms and share technical content.
    </p>

    <p class="highlight">
      Currently, I am looking for opportunities where I can contribute as an 
      Angular-focused Full Stack Developer and work on scalable, product-oriented applications.
    </p>

  </div>

  <!-- Info + CTA Section -->
  <div class="about-info">

    <div class="info-grid">
      <div><strong>Name:- </strong> Satendra</div>
      <div><strong>Email:- </strong> satendracoder&#64;gmail.com</div>
      <div><strong>Location:- </strong>Khora Colony, Sector 62, Noida, India 201301</div>
      <div><strong>Phone:- </strong> +91 8859758708</div>
      <div><strong>Website:- </strong> <span (click)="openWebsite('personal')" class="highlight"  style="cursor: pointer;">satendracoder.com</span></div>
      <div><strong>Availability:- </strong> <span class="available">Available</span></div>
    </div>

    <div class="btn-group">
      <a [href]="resumeUrl" download class="btn primary">
        Download CV
      </a>

      <a routerLink="/contact" class="btn outline">
        Contact Me
      </a>
    </div>

  </div>

</div>