.onboarding {
  position: fixed;
  bottom: 20px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

/* Popup */
.popup {
  width: 320px;
  background: var(--bg-secondary);
  border-radius: 16px;
  padding: 20px;
  text-align: center;

  border: 1px solid var(--border-color);

  animation: slideUp 0.5s ease;
}

/* Animation from bottom 🔥 */
@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Buttons */
.actions {
  margin-top: 15px;
}

.actions button {
  margin: 5px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: var(--link-color);
  color: white;
}








/* Tooltip box */
:host .introjs-tooltip {
  background: #161b22 !important;
  color: #c9d1d9 !important;
  border-radius: 12px !important;
  border: 1px solid #30363d !important;
  padding: 15px !important;
  max-width: 260px;
}

.introjs-tooltip {
    box-sizing: content-box !important;
    position: absolute !important;
    visibility: visible !important;
    background-color: #1c1e22 !important;
    border-radius: 5px !important;
    box-shadow: 0 3px 30px rgba(33, 33, 33, .3);
    transition: opacity .1s ease-out !important;
}

/* Title */
.introjs-tooltip-title {
  color: #fff !important;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Buttons */
.introjs-button {
  background: #58a6ff !important;
  color: white !important;
  border-radius: 6px !important;
  border: none !important;
}

/* Highlight */
.introjs-helperLayer {
  border-radius: 10px !important;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.6);
}

/* Arrow */
.introjs-arrow {
  border-bottom-color: #161b22 !important;
}