<div class="experience-section">

    <h2 class="section-title">Experience</h2>

    <div class="timeline">

        <!-- Another Company -->
        <div class="timeline-item">

            <div class="timeline-left">
                <span class="dot"></span>
            </div>

            <div class="timeline-content">

                <img src="/assets/image/vastika_technologies_logo.jpg" class="company-logo" />

                <div class="exp-group">
                    <h3 class="company-title">Vastika Technologies · <span style="color:coral;">Contract</span></h3>

                    <div class="role">
                        <p class="role-title">Product Engineer</p>
                        <p>Client: InnovationM | Project: Axis Bank – LOS & ADCB</p>
                        <p class="meta">Dec 2025 - Mar 2026 · 4 mos</p>
                        <p class="location">Sector 16 Noida India · On-site</p>
                        <ul class="desc">
                            <li>Built configurable multi-step loan journeys for ADCB Loan Origination System using
                                Angular, improving loan onboarding workflow efficiency by 30%.</li>
                            <li>Implemented dynamic UI rendering using backend-driven flags (ROI, processing fee,
                                security, stock statement, limits).</li>
                            <li>Worked on document upload, customer data capture, eligibility checks, and application
                                tracking modules.</li>
                            <li>Developed dealer-focused loan application flows and dashboards for Axis Bank LOS.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Company Group -->
        <div class="timeline-item">

            <div class="timeline-left">
                <span class="dot"></span>
            </div>

            <div class="timeline-content">

                <!-- Company Logo -->
                <img src="/assets/image/redmil.jpeg" class="company-logo" />

                <div class="exp-group">

                    <!-- Company Name -->
                    <h3 class="company-title">Redmil Business Mall · <span style="color:coral;">Full-time</span> <span>  Rejoining</span></h3>
                    
                    <!-- Role 1 -->
                    <div class="role">
                        <p class="role-title">Full Stack Developer </p>
                        <p class="meta">Sep 2024 - Nov 2025 · 1 yr 3 mos</p>
                        <p class="location">Sector 142 Noida, UP, India · On-site</p>

                        <ul class="desc">
                            <li>Enhanced and maintained full-stack web applications using Java Spring Boot and Angular
                                18.</li>

                            <li>Built fintech modules including AEPS, Micro-ATM, Recharge, Bill Payment, and Cash-Out
                                with end-to-end API integration. </li>

                            <li>Implemented secure role-based access control (Admin, Agent, Retailer) using JWT.</li>
                            <li>Integrated Mantra, Morpho biometric, and Micro-ATM devices using Angular SDKs for
                                Aadhaar-based authentication — achieved 90% success rate and reduced transaction errors
                                by 40%.</li>
                            <li>Collaborated with backend teams for API optimization, error handling, and secure
                                integration.</li>
                            <li>Developed Java Spring Boot backend services for data extraction and export via REST
                                APIs, improving processing efficiency and scalability. </li>
                        </ul>
                    </div>

                    <!-- Small Break -->
                    <div class="role-divider"></div>

                    <!-- Role 2 -->
                    <div class="role">
                        <p class="role-title">Layoff/position eliminated</p>
                        <p>Career Break</p>
                        <p class="meta">May 2024 - Aug 2024 · 4 mos</p>
                        <p class="location">Sector 62 Noida</p>
                    </div>

                      <!-- Small Break -->
                    <div class="role-divider"></div>

                    <!-- Role 2 -->
                    <div class="role">
                        <p class="role-title">Angular Developer</p>
                        <p class="meta">Apr 2022 - Aug 2024 · 2 yr 1 mos</p>
                        <p class="location">Sector 62 Noida, Uttar Pradesh, India · On-site</p>

                        <ul class="desc">
                            <li>Expanded and optimized Angular applications for financial services.</li>
                            <li> Improved UI/UX and resolved API synchronization issues in HDFC Loan CRM, enhancing lead processing efficiency.</li>
                            <li> Developed reusable Angular components for real-time financial dashboards, reducing development time for new modules by 40%.
                            </li>
                            <li> Reduced UI latency by 35% using zone-less patterns and manual change detection.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>